<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dj.ssm.mapper.BorrowMapper">

    <!--展示 查询全部-->
    <select id="findAll" resultType="com.dj.ssm.pojo.Borrow">
        SELECT
            b.id,
            b.book_id,
            b.user_id,
            b.author,
            b.number,
            b.borrow_time,
            b.is_del,
            b.type,
            b.repay_time,
            b.pay,
            u.username AS userName,
            k.book_name AS bookName,
            r.resource_name AS typeName,
        (CASE
        WHEN now() &gt; b.repay_time then '已逾期'
        ELSE '未逾期'
        END
        ) AS statusShow,
        (CASE
        WHEN now() &lt; b.repay_time then '无需缴费'
        WHEN now() &gt; b.repay_time and b.pay is null  then '未缴费'
        ELSE '已缴费'
        END
        ) AS payShow
        FROM
            borrow_car b
        LEFT JOIN resource_school r ON b.type = r.id
        LEFT JOIN user_school u ON b.user_id = u.id
        LEFT JOIN book k ON b.book_id = k.id
        <where>
            <if test="roleId != 1 and roleId != 6">
                b.user_id = #{user.id}
            </if>
            <if test="book.bookName != null and book.bookName != ''">
                 and k.book_name LIKE "%"#{book.bookName}"%"
            </if>
            and b.is_del = 0
        </where>
    </select>
</mapper>