<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.ssm.mapper.ResourceMapper">

    <update id="updateIsDel">
        update resource set is_del = #{isDel} where id in
        <foreach collection="ids" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </update>
    <select id="findResourceByUserId" resultType="Resource">
        SELECT
            r.id,
            r.resource_name,
            r.url,
            r.parent_id,
            r.is_del,
            r.resource_type
        FROM
            resource_school r
        LEFT JOIN role_resource_school rr ON r.id = rr.resource_id
        LEFT JOIN user_role_school ur ON rr.role_id = ur.role_id
        WHERE
            ur.user_id = #{userId}
    </select>
</mapper>